n8n-workflows/01-envio-confirmacoes.json
{
  "name": "Don Aveiro - Envio de Confirmações",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "d6eed34e-99db-4772-9aea-00ebea2a9794",
      "name": "Agendamento Diário 18h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-144, -160],
      "notes": "Roda todo dia às 18h (BRT). Configure timezone America/Sao_Paulo nas settings do n8n."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://bemp-mcp:8000/api/services",
        "options": {}
      },
      "id": "bb000001-bbbb-bbbb-bbbb-000000000001",
      "name": "Buscar Serviços MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, -160],
      "notes": "Retorna {services: [...]} — objeto único, não array. Executado 1x antes de dividir por cliente."
    },
    {
      "parameters": {
        "jsCode": "const d = new Date();\nd.setDate(d.getDate() + 1);\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn [{ json: { tomorrow: `${y}-${m}-${day}` } }];"
      },
      "id": "d879b9e6-8141-4546-bc45-01b940be1bfb",
      "name": "Calcular Amanhã",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [304, -160]
    },
    {
      "parameters": {
        "url": "=https://zjmtlkgpkxmbjvhgbzpr.supabase.co/rest/v1/DonAveiro_Agendamentos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,v_cliente,Telefone,start,id_servico,id_barbeiro"
            },
            {
              "name": "start",
              "value": "=like.{{ $('Calcular Amanhã').item.json.tomorrow }}%"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=SUA_SUPABASE_SECRET_KEY_AQUI"
            },
            {
              "name": "Authorization",
              "value": "=Bearer SUA_SUPABASE_SECRET_KEY_AQUI"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "cbc0243f-9dd1-409e-ac16-7851ef72ba20",
      "name": "Buscar Agendamentos de Amanhã",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [528, -160]
    },
    {
      "parameters": {
        "jsCode": "// Agrupa múltiplos agendamentos do mesmo cliente em um único item\nconst items = $input.all();\nconst grouped = {};\n\nfor (const item of items) {\n  const phone = item.json.Telefone;\n  if (!grouped[phone]) {\n    grouped[phone] = {\n      Telefone: phone,\n      v_cliente: item.json.v_cliente,\n      appointments: []\n    };\n  }\n  grouped[phone].appointments.push({\n    id: item.json.id,\n    start: item.json.start,\n    id_servico: String(item.json.id_servico),\n    id_barbeiro: String(item.json.id_barbeiro)\n  });\n}\n\nconst result = Object.values(grouped).map(client => {\n  client.appointments.sort((a, b) => a.start.localeCompare(b.start));\n  client.appointment_ids = client.appointments.map(a => a.id).join(',');\n  return { json: client };\n});\n\nreturn result;"
      },
      "id": "aa000001-aaaa-aaaa-aaaa-000000000001",
      "name": "Agrupar por Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [752, -160],
      "notes": "Um cliente com 2 serviços gera 2 linhas no Supabase mas deve receber 1 mensagem única"
    },
    {
      "parameters": {
        "jsCode": "// $json = objeto do cliente (de 'Agrupar por Cliente')\n// $('Buscar Serviços MCP').first().json.services = array de serviços buscado 1x no início\nconst client = $json;\nconst svcs = $('Buscar Serviços MCP').first().json.services || [];\n\nconst serviceMap = {};\nfor (const svc of svcs) {\n  if (svc.id != null && svc.name) serviceMap[String(svc.id)] = svc.name;\n}\n\nconst emojis = ['1️⃣', '2️⃣', '3️⃣', '4️⃣', '5️⃣'];\nconst apptLines = client.appointments.map((appt, i) => {\n  const serviceName = serviceMap[appt.id_servico] || `Serviço ${appt.id_servico}`;\n  const d = new Date(appt.start);\n  const timeStr = d.toLocaleTimeString('pt-BR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'America/Sao_Paulo'\n  });\n  return `${emojis[i] || '•'} *${serviceName}* — ${timeStr}`;\n});\n\nconst plural = client.appointments.length > 1;\nconst header = plural\n  ? `Passando para confirmar seus *${client.appointments.length} agendamentos* de amanhã na *Don Aveiro* ✂️`\n  : `Passando para confirmar seu agendamento de amanhã na *Don Aveiro* ✂️`;\n\nconst msg = `Olá, *${client.v_cliente}*! 👋\\n\\n${header}\\n\\n${apptLines.join('\\n')}\\n\\nConfirme sua presença respondendo:\\n✅ *CONFIRMO* — presença confirmada\\n❌ *CANCELAR* — se não puder comparecer\\n\\nCaso cancele, podemos remarcar direto aqui no chat! 😊`;\n\nreturn [{\n  json: {\n    Telefone: client.Telefone,\n    v_cliente: client.v_cliente,\n    chatId: `${client.Telefone}@c.us`,\n    text: msg,\n    appointment_ids: client.appointment_ids\n  }\n}];"
      },
      "id": "aa000003-aaaa-aaaa-aaaa-000000000003",
      "name": "Formatar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, -160],
      "notes": "Usa $('Buscar Serviços MCP').first().json.services para montar o mapa de nomes"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.Telefone }}@c.us_confirm",
        "value": "={{ $json.appointment_ids }}",
        "keyType": "string",
        "expire": true,
        "ttl": 108000
      },
      "id": "5c9de85c-dc6c-46c9-b518-2e2fa58b9b17",
      "name": "Redis - Criar Chave de Confirmação",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1200, -160],
      "credentials": {
        "redis": {
          "id": "U9HEZyPuKhnXUoe8",
          "name": "Redis account"
        }
      },
      "notes": "Valor: IDs separados por vírgula (ex: '352,353'). TTL: 30h"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [1424, -160],
      "id": "5dc33deb-28b2-40db-97e6-5bc23f17533b",
      "name": "Msg Confirmação",
      "credentials": {
        "wahaApi": {
          "id": "xhfBIX19XNtxO9AM",
          "name": "WAHA account"
        }
      }
    }
  ],
  "connections": {
    "Agendamento Diário 18h": {
      "main": [[{"node": "Buscar Serviços MCP", "type": "main", "index": 0}]]
    },
    "Buscar Serviços MCP": {
      "main": [[{"node": "Calcular Amanhã", "type": "main", "index": 0}]]
    },
    "Calcular Amanhã": {
      "main": [[{"node": "Buscar Agendamentos de Amanhã", "type": "main", "index": 0}]]
    },
    "Buscar Agendamentos de Amanhã": {
      "main": [[{"node": "Agrupar por Cliente", "type": "main", "index": 0}]]
    },
    "Agrupar por Cliente": {
      "main": [[{"node": "Formatar Mensagem", "type": "main", "index": 0}]]
    },
    "Formatar Mensagem": {
      "main": [[{"node": "Redis - Criar Chave de Confirmação", "type": "main", "index": 0}]]
    },
    "Redis - Criar Chave de Confirmação": {
      "main": [[{"node": "Msg Confirmação", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "2a4cd013-aa8c-489d-af52-417902d21d19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47d8ce9d6cdbff4c87e0eb7d2fc6cd61814f98fe88237bb07d85df75707e356c"
  },
  "id": "6FtwBOZVXmsteonH",
  "tags": []
}
