n8n-workflows/02-verificacao-confirmacao.json
{
  "name": "Don Aveiro - Verificação de Confirmação (INSERIR no fluxo principal)",
  "nodes": [
    {
      "parameters": {},
      "id": "da010000-0000-0000-0000-000000000000",
      "name": "ENTRADA: vem do False branch do isBlocked?",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "INSTRUÇÃO: Conecte a saída False do nó 'isBlocked?' do fluxo principal AQUI.\nA saída deste workflow (nó 'SAÍDA: fluxo normal') conecta no próximo nó do seu fluxo principal."
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.msg.telefone }}_confirm",
        "keyType": "automatic"
      },
      "id": "da010001-0001-0001-0001-000000000001",
      "name": "Redis - Verificar Chave de Confirmação",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      },
      "notes": "Busca: {msg.telefone}_confirm | Se existir → cliente está em fluxo de confirmação"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-confirm-key",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "da010002-0002-0002-0002-000000000002",
      "name": "É Fluxo de Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "True = cliente respondendo confirmação | False = mensagem normal, segue fluxo principal"
    },
    {
      "parameters": {
        "jsCode": "const appointmentIds = $('Redis - Verificar Chave de Confirmação').item.json;\nconst dados = $('Dados').item.json;\nreturn [{\n  json: {\n    appointment_ids: appointmentIds,\n    telefone: dados.msg.telefone,\n    chatId: `${dados.msg.telefone}@c.us`,\n    texto_mensagem: (dados.msg.body || dados.msg.text || '').trim()\n  }\n}];"
      },
      "id": "da010003-0003-0003-0003-000000000003",
      "name": "Extrair Dados da Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "notes": "Reúne appointment_ids (Redis) + telefone + texto da mensagem recebida"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "gpt-4o-mini",
          "temperature": 0,
          "max_tokens": 10,
          "messages": [
            {
              "role": "system",
              "content": "Você analisa respostas de clientes de uma barbearia que receberam uma mensagem pedindo confirmação de agendamento. Classifique a intenção da mensagem. Responda APENAS com uma única palavra: positivo (cliente confirma presença), negativo (cliente quer cancelar) ou indefinido (não dá para determinar)."
            },
            {
              "role": "user",
              "content": "={{ $json.texto_mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da010004-0004-0004-0004-000000000004",
      "name": "IA - Classificar Intenção",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "notes": "Usa gpt-4o-mini para classificar: positivo / negativo / indefinido. Crie a variável OPENAI_API_KEY nas Settings > Variables do n8n."
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.choices[0].message.content.trim().toLowerCase();\nconst dados = $('Extrair Dados da Confirmação').item.json;\nconst intencao = ['positivo', 'negativo', 'indefinido'].includes(aiResponse) ? aiResponse : 'indefinido';\nreturn [{ json: { ...dados, intencao } }];"
      },
      "id": "da010005-0005-0005-0005-000000000005",
      "name": "Extrair Intenção da IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200],
      "notes": "Extrai a palavra retornada pela IA e garante que seja positivo/negativo/indefinido"
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.intencao }}",
        "rules": {
          "rules": [
            {
              "outputKey": "positivo",
              "value": "positivo",
              "renameOutput": true
            },
            {
              "outputKey": "negativo",
              "value": "negativo",
              "renameOutput": true
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "da010006-0006-0006-0006-000000000006",
      "name": "Switch: Intenção",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1560, 200],
      "notes": "Saída 0 = positivo | Saída 1 = negativo | Fallback = indefinido (pede para repetir)"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.telefone }}_confirm"
      },
      "id": "da010007-0007-0007-0007-000000000007",
      "name": "Redis - Remover Chave (Confirmado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1780, 80],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ *Confirmado!* Que ótimo, te esperamos amanhã! 😄\n\n📍 *Endereço:*\n{{ $vars.ENDERECO_BARBEARIA }}\n\n⏰ Chegue alguns minutinhos antes. Qualquer dúvida, é só chamar aqui!",
        "requestOptions": {}
      },
      "id": "da010008-0008-0008-0008-000000000008",
      "name": "WAHA - Confirmar Presença",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [2000, 80],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      },
      "notes": "Configure ENDERECO_BARBEARIA nas Settings > Variables do n8n"
    },
    {
      "parameters": {
        "jsCode": "const dados = $json;\nconst phone = String(dados.telefone).replace('@c.us', '');\nconst ids = String(dados.appointment_ids).split(',').map(id => id.trim()).filter(Boolean);\n\nconst results = [];\nfor (const appointment_id of ids) {\n  try {\n    const resp = await $http.request({\n      method: 'POST',\n      url: 'http://bemp-mcp:8000/api/cancel_appointment',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ appointment_id: Number(appointment_id), phone })\n    });\n    results.push({ id: appointment_id, result: resp });\n  } catch(e) {\n    results.push({ id: appointment_id, error: e.message });\n  }\n}\n\nreturn [{ json: { ...dados, cancelled: results, total: ids.length } }];"
      },
      "id": "da010009-0009-0009-0009-000000000009",
      "name": "MCP - Cancelar Agendamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200],
      "notes": "Cancela 1 ou múltiplos agendamentos via MCP. Suporta IDs separados por vírgula."
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.telefone }}_confirm"
      },
      "id": "da010010-0010-0010-0010-000000000010",
      "name": "Redis - Remover Chave (Cancelado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $json.chatId }}",
        "text": "=😔 Que pena! Seu agendamento foi cancelado.\n\nQuer marcar um novo horário? É só me dizer quando fica melhor pra você que eu verifico a disponibilidade! 📅",
        "requestOptions": {}
      },
      "id": "da010011-0011-0011-0011-000000000011",
      "name": "WAHA - Oferecer Reagendamento",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [2220, 200],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $json.chatId }}",
        "text": "=Oi! Não entendi sua resposta. 😅\n\nPara *confirmar* seu agendamento de amanhã, responda *CONFIRMO*.\nPara *cancelar*, responda *CANCELAR*.",
        "requestOptions": {}
      },
      "id": "da010012-0012-0012-0012-000000000012",
      "name": "WAHA - Pedir para Repetir",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [1780, 360],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      },
      "notes": "Fallback: IA não conseguiu classificar a intenção"
    },
    {
      "parameters": {},
      "id": "da010099-0099-0099-0099-000000000099",
      "name": "SAÍDA: fluxo normal continua",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "INSTRUÇÃO: Conecte a saída deste nó ao próximo nó do seu fluxo principal de atendimento."
    }
  ],
  "connections": {
    "ENTRADA: vem do False branch do isBlocked?": {
      "main": [[{"node": "Redis - Verificar Chave de Confirmação", "type": "main", "index": 0}]]
    },
    "Redis - Verificar Chave de Confirmação": {
      "main": [[{"node": "É Fluxo de Confirmação?", "type": "main", "index": 0}]]
    },
    "É Fluxo de Confirmação?": {
      "main": [
        [{"node": "Extrair Dados da Confirmação", "type": "main", "index": 0}],
        [{"node": "SAÍDA: fluxo normal continua", "type": "main", "index": 0}]
      ]
    },
    "Extrair Dados da Confirmação": {
      "main": [[{"node": "IA - Classificar Intenção", "type": "main", "index": 0}]]
    },
    "IA - Classificar Intenção": {
      "main": [[{"node": "Extrair Intenção da IA", "type": "main", "index": 0}]]
    },
    "Extrair Intenção da IA": {
      "main": [[{"node": "Switch: Intenção", "type": "main", "index": 0}]]
    },
    "Switch: Intenção": {
      "main": [
        [{"node": "Redis - Remover Chave (Confirmado)", "type": "main", "index": 0}],
        [{"node": "MCP - Cancelar Agendamentos", "type": "main", "index": 0}],
        [{"node": "WAHA - Pedir para Repetir", "type": "main", "index": 0}]
      ]
    },
    "Redis - Remover Chave (Confirmado)": {
      "main": [[{"node": "WAHA - Confirmar Presença", "type": "main", "index": 0}]]
    },
    "MCP - Cancelar Agendamentos": {
      "main": [[{"node": "Redis - Remover Chave (Cancelado)", "type": "main", "index": 0}]]
    },
    "Redis - Remover Chave (Cancelado)": {
      "main": [[{"node": "WAHA - Oferecer Reagendamento", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["don-aveiro", "confirmacao"]
}
