n8n-workflows/02-verificacao-confirmacao.json
{
  "name": "Don Aveiro - Verificação de Confirmação (INSERIR no fluxo principal)",
  "nodes": [
    {
      "parameters": {},
      "id": "da010000-0000-0000-0000-000000000000",
      "name": "ENTRADA: vem do False branch do isBlocked?",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Conecte a saída False do nó 'isBlocked?' do fluxo principal AQUI."
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.msg.telefone }}_confirm",
        "keyType": "automatic"
      },
      "id": "da010001-0001-0001-0001-000000000001",
      "name": "Redis - Verificar Chave de Confirmação",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-confirm-key",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "da010002-0002-0002-0002-000000000002",
      "name": "É Fluxo de Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "True = cliente respondendo confirmação | False = mensagem normal, segue fluxo principal"
    },
    {
      "parameters": {
        "jsCode": "const appointmentIds = $('Redis - Verificar Chave de Confirmação').item.json;\nconst dados = $('Dados').item.json;\nreturn [{\n  json: {\n    appointment_ids: appointmentIds,\n    telefone: dados.msg.telefone,\n    chatId: `${dados.msg.telefone}@c.us`,\n    texto_mensagem: (dados.msg.body || dados.msg.text || '').trim()\n  }\n}];"
      },
      "id": "da010003-0003-0003-0003-000000000003",
      "name": "Extrair Dados da Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_mensagem }}",
        "systemMessage": "Você é o assistente da barbearia Don Aveiro.\n\nEndereço: COLOQUE_O_ENDERECO_AQUI\n\nUm cliente recebeu uma mensagem pedindo confirmação do agendamento de amanhã e respondeu. Analise a resposta e:\n\n- Se o cliente está confirmando presença (ex: sim, confirmo, ok, vou, estarei lá, pode confirmar, etc): comece sua resposta com exatamente a palavra CONFIRMADO: e em seguida envie uma mensagem animada confirmando, inclua o endereço e peça para chegar alguns minutinhos antes. Use emojis.\n\n- Em qualquer outro caso (cancelar, não posso, dúvida, mensagem fora de contexto, etc): comece sua resposta com exatamente a palavra CANCELADO: e em seguida informe com empatia que o agendamento foi cancelado e convide o cliente a remarcar pelo chat.\n\nIMPORTANTE: Sua resposta DEVE começar com CONFIRMADO: ou CANCELADO: (com dois pontos). Nada antes disso."
      },
      "id": "da010004-0004-0004-0004-000000000004",
      "name": "AI Agent - Confirmação",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 200],
      "notes": "Conecte o seu Chat Model Gemini na entrada 'Chat Model' abaixo deste nó."
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "id": "da010004b-000b-000b-000b-00000000000b",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 380],
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini account"
        }
      },
      "notes": "Ajuste o nome da credencial conforme cadastrado no seu n8n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-confirmado",
              "leftValue": "={{ $json.output }}",
              "rightValue": "confirmado:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "da010005-0005-0005-0005-000000000005",
      "name": "É Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200],
      "notes": "True = CONFIRMADO | False = CANCELADO"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Extrair Dados da Confirmação').item.json.telefone }}_confirm"
      },
      "id": "da010006-0006-0006-0006-000000000006",
      "name": "Redis - Remover Chave (Confirmado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 100],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $('Extrair Dados da Confirmação').item.json.chatId }}",
        "text": "={{ $('AI Agent - Confirmação').item.json.output.replace(/^CONFIRMADO:\\s*/i, '') }}",
        "requestOptions": {}
      },
      "id": "da010007-0007-0007-0007-000000000007",
      "name": "WAHA - Confirmar Presença",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [1780, 100],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Extrair Dados da Confirmação').item.json;\nconst phone = String(dados.telefone).replace('@c.us', '');\nconst ids = String(dados.appointment_ids).split(',').map(id => id.trim()).filter(Boolean);\n\nconst results = [];\nfor (const appointment_id of ids) {\n  try {\n    const resp = await $http.request({\n      method: 'POST',\n      url: 'http://bemp-mcp:8000/api/cancel_appointment',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ appointment_id: Number(appointment_id), phone })\n    });\n    results.push({ id: appointment_id, result: resp });\n  } catch(e) {\n    results.push({ id: appointment_id, error: e.message });\n  }\n}\n\nreturn [{ json: { ...dados, cancelled: results } }];"
      },
      "id": "da010008-0008-0008-0008-000000000008",
      "name": "MCP - Cancelar Agendamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "notes": "Cancela 1 ou múltiplos agendamentos via MCP"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.telefone }}_confirm"
      },
      "id": "da010009-0009-0009-0009-000000000009",
      "name": "Redis - Remover Chave (Cancelado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $('Extrair Dados da Confirmação').item.json.chatId }}",
        "text": "={{ $('AI Agent - Confirmação').item.json.output.replace(/^CANCELADO:\\s*/i, '') }}",
        "requestOptions": {}
      },
      "id": "da010010-0010-0010-0010-000000000010",
      "name": "WAHA - Oferecer Reagendamento",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [2000, 300],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "id": "da010099-0099-0099-0099-000000000099",
      "name": "SAÍDA: fluxo normal continua",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "Conecte a saída deste nó ao próximo nó do seu fluxo principal de atendimento."
    }
  ],
  "connections": {
    "ENTRADA: vem do False branch do isBlocked?": {
      "main": [[{"node": "Redis - Verificar Chave de Confirmação", "type": "main", "index": 0}]]
    },
    "Redis - Verificar Chave de Confirmação": {
      "main": [[{"node": "É Fluxo de Confirmação?", "type": "main", "index": 0}]]
    },
    "É Fluxo de Confirmação?": {
      "main": [
        [{"node": "Extrair Dados da Confirmação", "type": "main", "index": 0}],
        [{"node": "SAÍDA: fluxo normal continua", "type": "main", "index": 0}]
      ]
    },
    "Extrair Dados da Confirmação": {
      "main": [[{"node": "AI Agent - Confirmação", "type": "main", "index": 0}]]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent - Confirmação", "type": "ai_languageModel", "index": 0}]]
    },
    "AI Agent - Confirmação": {
      "main": [[{"node": "É Confirmação?", "type": "main", "index": 0}]]
    },
    "É Confirmação?": {
      "main": [
        [{"node": "Redis - Remover Chave (Confirmado)", "type": "main", "index": 0}],
        [{"node": "MCP - Cancelar Agendamentos", "type": "main", "index": 0}]
      ]
    },
    "Redis - Remover Chave (Confirmado)": {
      "main": [[{"node": "WAHA - Confirmar Presença", "type": "main", "index": 0}]]
    },
    "MCP - Cancelar Agendamentos": {
      "main": [[{"node": "Redis - Remover Chave (Cancelado)", "type": "main", "index": 0}]]
    },
    "Redis - Remover Chave (Cancelado)": {
      "main": [[{"node": "WAHA - Oferecer Reagendamento", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["don-aveiro", "confirmacao"]
}
