n8n-workflows/02-verificacao-confirmacao.json
{
  "name": "Don Aveiro - Verificação de Confirmação (INSERIR no fluxo principal)",
  "nodes": [
    {
      "parameters": {},
      "id": "da010000-0000-0000-0000-000000000000",
      "name": "ENTRADA: vem do False branch do isBlocked?",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Conecte a saída False do nó 'isBlocked?' do fluxo principal AQUI."
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.msg.telefone }}_confirm",
        "keyType": "automatic"
      },
      "id": "da010001-0001-0001-0001-000000000001",
      "name": "Redis - Verificar Chave de Confirmação",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-confirm-key",
              "leftValue": "={{ Object.values($json)[0] ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "da010002-0002-0002-0002-000000000002",
      "name": "É Fluxo de Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "True = cliente respondendo confirmação | False = mensagem normal, segue fluxo principal"
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados do cliente para uso em todo o fluxo de confirmação\nconst dados = $('Dados').first().json;\n\nreturn [{\n  json: {\n    telefone: dados.msg.telefone,\n    chatId: dados.msg.telefone,\n    session: dados.msg.session,\n    texto_mensagem: (dados.msg.msgtext || dados.msg.body || dados.msg.text || '').trim()\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "da010003-0003-0003-0003-000000000003",
      "name": "Extrair Dados da Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "notes": "Extrai telefone, chatId, session e texto da mensagem do cliente"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_mensagem }}",
        "systemMessage": "Você é o assistente da barbearia Don Aveiro.\n\nEndereço: COLOQUE_O_ENDERECO_AQUI\n\nUm cliente recebeu uma mensagem pedindo confirmação do agendamento de amanhã e respondeu. Analise a resposta e:\n\n- Se o cliente está confirmando presença (ex: sim, confirmo, ok, vou, estarei lá, pode confirmar, com certeza, claro, etc): comece sua resposta com exatamente a palavra CONFIRMADO: e em seguida envie uma mensagem simpática e animada confirmando a presença. Inclua o endereço e peça para chegar alguns minutinhos antes. Pule linhas entre os parágrafos. Use emojis com moderação.\n\n- Em qualquer outro caso (cancelar, não posso, dúvida, mensagem fora de contexto, etc): comece sua resposta com exatamente a palavra CANCELADO: e em seguida informe com empatia que o agendamento foi cancelado e convide o cliente a remarcar pelo chat. Pule linhas entre os parágrafos.\n\nIMPORTANTE: Sua resposta DEVE começar com CONFIRMADO: ou CANCELADO: (com dois pontos, sem espaço antes). Nada antes disso. Em caso de dúvida sobre a intenção do cliente, trate como CONFIRMADO."
      },
      "id": "da010004-0004-0004-0004-000000000004",
      "name": "AI Agent - Confirmação",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 200],
      "notes": "Conecte o seu Chat Model Gemini na entrada 'Chat Model' abaixo deste nó."
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "id": "da010004b-000b-000b-000b-00000000000b",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 380],
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini account"
        }
      },
      "notes": "Ajuste o nome da credencial conforme cadastrado no seu n8n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-confirmado",
              "leftValue": "={{ $json.output.toLowerCase() }}",
              "rightValue": "confirmado:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "da010005-0005-0005-0005-000000000005",
      "name": "É Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200],
      "notes": "True = CONFIRMADO | False = CANCELADO"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Extrair Dados da Confirmação').first().json.telefone }}_confirm"
      },
      "id": "da010006-0006-0006-0006-000000000006",
      "name": "Redis - Remover Chave (Confirmado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 100],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Extrair Dados da Confirmação').first().json.session }}",
        "chatId": "={{ $('Extrair Dados da Confirmação').first().json.chatId }}",
        "text": "={{ $('AI Agent - Confirmação').first().json.output.replace(/^CONFIRMADO:\\s*/i, '') }}",
        "requestOptions": {}
      },
      "id": "da010007-0007-0007-0007-000000000007",
      "name": "WAHA - Confirmar Presença",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [1780, 100],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bemp-mcp:8000/api/customer_appointments",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Extrair Dados da Confirmação').first().json.telefone.replace('@c.us', '').replace('@s.whatsapp.net', '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da010014-0014-0014-0014-000000000014",
      "name": "HTTP - Buscar Agendamentos do Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "notes": "Consulta o BEMP para obter os IDs reais dos agendamentos do cliente"
    },
    {
      "parameters": {
        "jsCode": "// Recebe a lista de agendamentos do BEMP e retorna 1 item por agendamento\nconst resposta = $input.first().json;\nconst phone = $('Extrair Dados da Confirmação').first().json.telefone\n  .replace('@c.us', '').replace('@s.whatsapp.net', '');\n\n// A resposta pode ser array direto ou aninhada em data/appointments/results\nconst appointments = Array.isArray(resposta)\n  ? resposta\n  : (resposta.data || resposta.appointments || resposta.results || []);\n\nif (appointments.length === 0) {\n  // Nenhum agendamento encontrado — retorna item vazio para não travar o fluxo\n  return [{ json: { appointment_id: null, phone, sem_agendamento: true } }];\n}\n\nreturn appointments.map(appt => ({\n  json: { appointment_id: appt.id, phone }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "da010015-0015-0015-0015-000000000015",
      "name": "Extrair IDs do BEMP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "notes": "Ajuste o campo 'appt.id' se o BEMP retornar o ID com outro nome (ex: appt.appointment_id)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bemp-mcp:8000/api/cancel_appointment",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $json.appointment_id }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "da010012-0012-0012-0012-000000000012",
      "name": "HTTP - Cancelar Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "notes": "neverError=true: não quebra o fluxo se o BEMP retornar erro em um dos agendamentos"
    },
    {
      "parameters": {
        "jsCode": "// Consolida todos os itens de volta em 1 para Redis e WAHA executarem apenas 1x\nconst dados = $('Extrair Dados da Confirmação').first().json;\nconst totalCancelados = $input.all().filter(i => !i.json.sem_agendamento).length;\nreturn [{ json: { ...dados, total_cancelados: totalCancelados } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "da010013-0013-0013-0013-000000000013",
      "name": "Consolidar Cancelamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300],
      "notes": "Reduz N itens de volta a 1 para evitar múltiplas mensagens ao cliente"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.telefone }}_confirm"
      },
      "id": "da010009-0009-0009-0009-000000000009",
      "name": "Redis - Remover Chave (Cancelado)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2440, 300],
      "credentials": {
        "redis": {
          "name": "Redis Don Aveiro"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Extrair Dados da Confirmação').first().json.session }}",
        "chatId": "={{ $('Extrair Dados da Confirmação').first().json.chatId }}",
        "text": "={{ $('AI Agent - Confirmação').first().json.output.replace(/^CANCELADO:\\s*/i, '') }}",
        "requestOptions": {}
      },
      "id": "da010010-0010-0010-0010-000000000010",
      "name": "WAHA - Oferecer Reagendamento",
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [2660, 300],
      "credentials": {
        "wahaApi": {
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "id": "da010099-0099-0099-0099-000000000099",
      "name": "SAÍDA: fluxo normal continua",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420],
      "notes": "Conecte a saída deste nó ao próximo nó do seu fluxo principal de atendimento."
    }
  ],
  "connections": {
    "ENTRADA: vem do False branch do isBlocked?": {
      "main": [[{"node": "Redis - Verificar Chave de Confirmação", "type": "main", "index": 0}]]
    },
    "Redis - Verificar Chave de Confirmação": {
      "main": [[{"node": "É Fluxo de Confirmação?", "type": "main", "index": 0}]]
    },
    "É Fluxo de Confirmação?": {
      "main": [
        [{"node": "Extrair Dados da Confirmação", "type": "main", "index": 0}],
        [{"node": "SAÍDA: fluxo normal continua", "type": "main", "index": 0}]
      ]
    },
    "Extrair Dados da Confirmação": {
      "main": [[{"node": "AI Agent - Confirmação", "type": "main", "index": 0}]]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent - Confirmação", "type": "ai_languageModel", "index": 0}]]
    },
    "AI Agent - Confirmação": {
      "main": [[{"node": "É Confirmação?", "type": "main", "index": 0}]]
    },
    "É Confirmação?": {
      "main": [
        [{"node": "Redis - Remover Chave (Confirmado)", "type": "main", "index": 0}],
        [{"node": "HTTP - Buscar Agendamentos do Cliente", "type": "main", "index": 0}]
      ]
    },
    "Redis - Remover Chave (Confirmado)": {
      "main": [[{"node": "WAHA - Confirmar Presença", "type": "main", "index": 0}]]
    },
    "HTTP - Buscar Agendamentos do Cliente": {
      "main": [[{"node": "Extrair IDs do BEMP", "type": "main", "index": 0}]]
    },
    "Extrair IDs do BEMP": {
      "main": [[{"node": "HTTP - Cancelar Agendamento", "type": "main", "index": 0}]]
    },
    "HTTP - Cancelar Agendamento": {
      "main": [[{"node": "Consolidar Cancelamentos", "type": "main", "index": 0}]]
    },
    "Consolidar Cancelamentos": {
      "main": [[{"node": "Redis - Remover Chave (Cancelado)", "type": "main", "index": 0}]]
    },
    "Redis - Remover Chave (Cancelado)": {
      "main": [[{"node": "WAHA - Oferecer Reagendamento", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["don-aveiro", "confirmacao"]
}
